body {
    margin: 0;
}

.intro-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/jonkoping.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-container h1 {
    color: #fff!important;
    padding: 0.4em!important;
    font-size: 3em!important;
}

.ui.black.message {
    margin: 0;
}

#products {
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: #EFEFEF;
}

.product-description {
    max-width: 35em;
    margin: 0 auto!important;
    font-size: 1.5em!important;
}

.product-button {
    margin-top: 1em!important;
}

.company a {
    text-align: center;
    margin: 0 auto;
}

.company-text p {
    font-size: 1.2em!important;
}

.antenna-container {
    background-color: #FFF;
    padding: 5em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.antenna-card-container {
    background-color: #FFF!important;
}


#technology {
   width: 100%;
   display: flex!important;
    flex-wrap: wrap;
    padding: 2em;
}

#wlan-card {
    height: 40em;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-end;
}

.card-holder-wlan {
    height: 40em;
    width: 100%;
    text-align: center;
}


.card-holder-wlan img {
    width: 80em;
    height: 40em;
}

.placeholder {
    margin-top: 2em;
    margin-bottom: 2em;
}

#press {
    padding: 5em;
}

#company {
    margin-top: 10em;
    margin-bottom: 10em;
}

.ui.grid {
    padding: 0 !important;
    margin-right: 0!important;
}

.ui.sidebar {
    /* Mobil sidobaren byggd med semantic */
}
.pushable.segment{
    margin: 0 !important;
}

.header-title {
    font-size: 3em!important;
}

.technology-title {
    font-size: 3em!important;
}

.antenna-title {
    margin-bottom: 1em!important;
}

.logo {
    height: 4em;
}

footer {
    background: #03a9f4;  /* fallback for old browsers */
    background-color: #03a9f4;
    height: auto;
    margin-top: 2em;
    padding-top: 5em;
}

.sendButton {
    margin-top: 1em!important;
}

.line-height {
   line-height: 1.7em!important;
}

@media only screen and (max-width: 768px) {
    #products {
        padding-right: 1em;
        padding-left: 1em;
    }

    #company-background {
        padding-right: 1em;
        padding-left: 1em;
    }

    #press {
        padding-right: 1em;
        padding-left: 1em;
    }

    .technology-title {
        font-size: 2em!important;
    }
  }