body {
    margin: 0;
}

.intro-container {
    background: url('./images/newYork2.jpg');
    background-position: top;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15em!important;
}

.intro-container h1 {
    color: #fff!important;
    padding: 0.4em!important;
    font-size: 3em!important;
}

.ui.black.message {
    margin: 0;
}

#products {
    padding: 5em;
}

.product-description {
    max-width: 35em;
    margin: 0 auto!important;
    font-size: 1.5em!important;
}

.product-button {
    margin-top: 1em!important;
}

.antenna-container {
    background-color: #FAFAFA;
    border-top: 1px solid rgb(241, 241, 241);
    padding: 5em;
}

.antenna-card-container {
    background-color: #FAFAFA!important;
}


#technology {
    height: 30em; 
    background: url('./images/sweratel-testing-image.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-end;
}

#wlan-card {
    height: 55em; 
    background: url('./images/wlan-card.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-end;
}

#press {
    padding: 5em;
}

.ui.grid {
    padding: 0 !important;
    margin-right: 0!important;
}

.ui.sidebar {
    /* Mobil sidobaren byggd med semantic */
}
.pushable.segment{
    margin: 0 !important;
}

.header-title {
    font-size: 3em!important;
}

.technology-title {
    font-size: 3em!important;
}

.antenna-title {
    margin-bottom: 1em!important;
}

.logo {
    height: 4em;
}

footer {
    background: #54C8FF;  /* fallback for old browsers */
    background-color: #54C8FF;
    height: auto;
    margin-top: 2em;
    padding-top: 5em;
}

.sendButton {
    margin-top: 1em!important;
}

.line-height {
   line-height: 1.7em!important;
}

@media only screen and (max-width: 768px) {
    #products {
        padding-right: 1em;
        padding-left: 1em;
    }

    #company-background {
        padding-right: 1em;
        padding-left: 1em;
    }

    #press {
        padding-right: 1em;
        padding-left: 1em;
    }

    .technology-title {
        font-size: 2em!important;
    }
  }